
body{

    margin: o;
    font-family: sans-serif ;
    background-color: lightblue;
    opacity:0.9;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:800px;
    text-align: center;
}

.todo_list{
    margin-left: auto;
    margin-right: auto;
}
